<template name="home">
    <div class="ui three column main-content features grid">
        {{#each feature}}
        <div class="center aligned column">
            <a href="{{path}}" class="ui unstyled no-hover-styles no-underline link icon header">
                <span class="headline">{{text}}</span>
                <i class="{{color}} {{icon}} boilerplate-feature icon"></i>
            </a>
        </div>
        {{/each}}
    </div>

    <div id="packages" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="align justify icon"></i>
        </div>
        <div class="ui two column stackable grid">
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div class="center aligned icon-wrapper">
                        <i class="circular massive red user icon"></i>
                    </div>
                </div>
                <div class="column">
                    <div class="ui info message">
                        <div class="header">
                            MAYORAL CANDIDATES BREAKFAST FORUM
                        </div>
                        <div class="sub header">
                            <a href="HBLforum.pdf">Click here for Event Details</a>
                        </div>
                    </div>
                    
                    <h3 class="large ui header">Hamilton Business Leaders <div class="sub header">presents 2014 Hamilton Mayorial Q&A</div></h3>
                    <p>We asked them for answers to some prudent city building questions.</p>

                    {{> questions }}

                </div>
            </div>
        </div>
    </div>

    <div id="console-tool" class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="align justify icon"></i>
        </div>
                <div class="center aligned ui header">
                    <h3 class="large ui header">
                        Brought to you by...
                    </h3>
                </div>
        <div class="ui three column stackable grid">
            <div class="row">

                {{#each contributor}}
                <div class="column">
                    <div class="ui list">
                        <div class="item">
                            <div class="center aligned column">
                                <img id={{ acronym }} src="{{logo}}" alt="">
                            </div>   
                            <div class="content">
                                <div class="header"><a href="{{homepage}}">{{name}}</a>
                                </div>
                                <div class="description justified row">
                                        {{description}}    
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
                {{/each}}

            </div>
        </div>
    </div>

</template>
