<template name="profiles">
  <div class="main-content padding-wrapper">
    {{> youtube }}
    <div class="ui fitted horizontal icon divider"><i class="align justify icon"></i>
    </div>

    <h1>Candidates</h1>
    <div class="ui two column stackable grid">
        {{> bradqanda }}
        {{> fredqanda }}
        {{> brianqanda }}
    </div>

  </div>

  {{> all }}
</template>

<template name="all">
  <div id="all" class="main-content padding-wrapper">
        <h1>All Candidates</h1>
        <h3>For complete list of Nominated Candidates for Mayor and Ward Councillors, visit <a href="http://www.hamilton.ca/CityDepartments/CorporateServices/Clerks/MunicipalElection/Nominated-Candidates-for-Mayor-Councillors.htm" target="_blank">hamilton.ca</a>.</h3>

          {{#each person }}
            <div class="ui fitted horizontal icon divider"><i class="user icon"></i></div>
            <div class="ui one column stackable grid">
              
              <div class="middle aligned row">
                  <div class="column">
                    <div id="{{ name }}" class="all-candidates">
                      <p>{{ fullname }}: {{ email }}</p>
                    </div>
                </div>
            </div>
            
          </div>
        {{/each }}
    </div>
</template>

<template name="youtube">
  
  <div id="youtube">
    <h1>Watch Video Interviews with Candidates</h1>
    <div class="ui accordion fluid">
      {{#each videos}}
          <div class="title">
              <i class="video icon"></i>{{ title }}
          </div>
          <div class="content">
              <iframe width="560" height="315" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
          </div>
      {{/each}}

    </div>
  </div>

</template>