<template name="profiles">
  <div class="main-content padding-wrapper">
        <div class="ui fitted horizontal icon divider"><i class="align justify icon"></i>
        </div>
        <div class="ui two column stackable grid">
            {{#each profile }}
            <div class="middle aligned row">
                <div class="center aligned column">
                    <div id="{{ name }}" class="center aligned icon-wrapper">
                    <h1>{{ fullname }}</h1>
                        <img src="{{ imagePath }}" alt="">
                    </div>
                </div>
                <div class="column">
                  
                  {{{ bio }}}
                  

                </div>
            </div>
            {{/each }}
        </div>
    </div>
</template>
