<template name="header">

    <div id="header" class="center aligned header-wrapper">
        <div class="huge center aligned ui header">        
          <div class="HBLlogo">
              <a href="{{ pathFor 'home' }}">
                  
                <img src="/images/HBALogo.jpg" alt="Hamilton Business Leaders Logo">
              </a>

            <div id="subHeaderText" class="sub header">
            <button class="ui blue button massive"><a href="http://events.r20.constantcontact.com/register/event?oeidk=a07e9sdfhgbad0fbd3c&llr=amihvgeab" style="text-decoration:none">Register Now</a></button>
              <h2>2014 Mayoral Campaign.  Unlock the potential of the Ambitious City.
              </h2>
              <button class="basic ui resize icon button large"><i class="angle down icon"></i></button>

            </div>
          </div>
        </div>
         
         

        
    </div>
</template>

