<template name="header">

    <div id="header" class="center aligned header-wrapper">
        <div class="huge center aligned ui header">        
          <div class="HBLlogo">
              <a href="{{ pathFor 'home' }}">
                  
                <img src="/images/HBLlogo.png" alt="Hamilton Business Leaders Logo">
              </a>

            <div id="subHeaderText" class="sub header">
            <h2>2014 Mayoral Campaign.  Unlock the potential of the Ambitious City.
            </h2>
            </div>
          </div>
        </div>
         
         <button class="basic ui resize icon button small"><i class="angle down icon"></i></button>

        
    </div>
</template>

