<template name="header">

    <div id="header" class="center aligned header-wrapper">
        <h1 class="huge center aligned ui header">
            Hamilton Business Leaders
            <div class="sub header">
             Dig deeper into the issues.
            </div>
        </h1>

        {{#if routeActive = blog }}
        {{> yield region='homeButton'}}
        {{/if }} 
        
        <button class="basic ui resize icon button"><i class="angle down icon"></i></button>
    </div>
</template>

