<template name="qanda">


    <div class="middle aligned row">

        <div class="column">
            <div class="ui accordion">
            {{#each candidateQuestions }}
                <div class="title">
                    <i class="dropdown icon"></i> {{ questionStub }}
                </div>
                <div class="content">
                    <p class="questions">{{ question }}</p>
                    <p class="answers">{{ answer }}</p>
                </div>
            {{/each}}
            </div>
        </div>

    </div>   



</template>