<template name="register">
  <div class="center aligned">
    <div class="huge center aligned ui header">
      <div class="ui inverted padding-wrapper">
        <div class="column">
          <h1>Register with email and password</h1>
          <div class="ui labeled vertical fluid inverted icon menu">
          
            <a class="item">
              <i class="icon user"></i>
                {{> loginButtons}}
            </a>

          </div>
          <h1><a href="{{ pathFor 'home' }}">Home</a></h1>
          <h1><a href="{{ pathFor 'blog' }}">Read the Blog</a></h1>
          <h1><a href="{{ pathFor 'blogadmin' }}">Write a Blog</a></h1>
        </div>    
      </div>
    </div>
  </div>
</template>